hostname {{ hostname }}
ip domain-name {{ domain_name }}
!
ip cef
!
username admin privilege 15 secret admin
ip ssh version 2
crypto key generate rsa general-keys modulus 2048
!
vrf definition {{ mgmt.vrf }}
 address-family ipv4
 exit-address-family
!
interface {{ mgmt.interface }}
 description OOB Management
 vrf forwarding {{ mgmt.vrf }}
 ip address {{ mgmt.ip }} {{ mgmt.mask }}
 no shutdown
!
ip route vrf {{ mgmt.vrf }} 0.0.0.0 0.0.0.0 {{ mgmt.gateway }}
!
line vty 0 4
 login local
 transport input ssh
!
{% for server in ntp.servers %}
ntp server {{ server }} source {{ ntp.source }}
{% endfor %}
!
logging source-interface {{ syslog.source }} vrf {{ mgmt.vrf }}
logging facility {{ syslog.facility }}
{% for server in syslog.servers %}
logging host {{ server }} vrf {{ mgmt.vrf }}
{% endfor %}
!
