{% if bgp.pe_ce is defined and bgp.pe_ce %}
{% for peer in bgp.ebgp_peers %}
address-family ipv4 vrf {{ peer.vrf }}
  redistribute connected
  neighbor {{ peer.ip }} remote-as {{ peer.remote_as }}
  neighbor {{ peer.ip }} activate
  neighbor {{ peer.ip }} description {{ peer.description }}
{% if peer.as_override is defined and peer.as_override %}
  neighbor {{ peer.ip }} as-override
{% endif %}
  neighbor {{ peer.ip }} route-map {{ peer.route_map_in }} in
  neighbor {{ peer.ip }} route-map {{ peer.route_map_out }} out
  no synchronization
exit-address-family
!
{% endfor %}
{% endif %}
!