{% include 'base.j2' %}

{% if role == 'pe' %}
{% include 'vrf.j2' %}
{% endif %}

{% include 'interfaces.j2' %}

{% if role in ['pe', 'p', 'rr'] %}
{% include 'ospf.j2' %}
{% include 'mpls.j2' %}
{% include 'bgp.j2' %}
{% endif %}

{% if role == 'pe' %}
{% include 'bgp_vpnv4.j2' %}
{% include 'bgp_pe_ce.j2' %}
{% endif %}

{% if role in ['pe', 'ce'] %}
{% include 'prefix_lists.j2' %}
{% include 'route_maps.j2' %}
{% endif %}